
/* Tasting detail image constraints */
.tasting-images img {
  max-width: 480px;
  width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .tasting-images img {
    max-width: 520px;
  }
}

